/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rufina:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.content {
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}

.navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0px;
    background: #1b1b1b;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 10px 0;
    background: #1b1b1b;
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
}

.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: cyan;
}

.banner {
    height: 100vh;
    background: url("images/heroimg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.services {
    padding: 40px 0;
}

.services .title {
    font-size: 35px;
    font-weight: 700;
}

.about p {
    padding-top: 20px;
    text-align: justify;
}

.icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

/* services */
.services-section {
    /* background: url("images/DarkBeach.jpg"); */
    background-size: cover;
    padding: 60px 0; 
}

.inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}

.section-title {
    text-align: center;
    color: #1b1b1b;
    text-transform: uppercase;
    font-size: 30px;
}

.service-p {
    color: #1b1b1b;
    font-size: 16px;
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}

.border {
    width: 160px;
    height: 2px;
    background: #82ccdd;
    margin: 40px auto;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box {
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer
}

.service-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #82ccdd;
    color: #82ccdd;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
}

.service-icon i {
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
}

.service-box:hover .service-icon {
    background: #82ccdd;
    color: #ddd;
}

.service-title {
    font-size: 18px;
    color: #444444;
    text-transform: uppercase;
}

.service-desc {
    color: #666666;
}

/* team */
#slider {
    margin-top: 15%;
}

#team-title {
    font-size: 35px;
    font-weight: 700;
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}

.img-area {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}

.img-area img {
    width: 500px;
    height: 100%;
}

.content-area .content {
    text-align: center;
    max-width: 350px;
    padding: 40px;
    color: #1b1b1b;
    border-radius: 25px;
    background-color: whitesmoke;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.content-area .content h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.content-area .content p {
    line-height: 1.9;
}

.content-area .content .socials {
    margin-top: 30px;
}

.content-area .content .socials i {
    font-size: 20px;
    color: grey;
    margin: 0px 10px;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.content-area .content .socials i:hover {
    color: blue;
    transform: scale(1.4);
}

.owl-dots {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
}

.owl-dot {
    display: inline-block;
    height: 20px !important;
    width: 20px !important;
    background-color: #1b1b1b !important;
    opacity: .8;
    margin: 0 10px;
    border-radius: 50%;
}

.owl-dot.active {
    background-color: #000000 !important;
}

/* product details */
.card-wrapper {
    padding-top: 60%;
    padding-bottom: 50%;
    max-width: 1100px;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    min-width: 100%;
}

.img-select {
    display: flex;
}

.img-item {
    margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 0.8;
}

.product-content {
    padding: 2rem 1rem;
}

.product-title {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.product-link:hover {
    opacity: 0.9;
}

.product-rating {
    color: #ffc107;
}

.product-rating span {
    font-weight: 600;
    color: #252525;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.product-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.product-detail ul li {
    margin: 0;
    list-style: none;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.product-detail ul li span {
    font-weight: 400;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}

.social-links a:hover {
    background: #000;
    border-color: transparent;
    color: #fff;
}

/* footer */
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec {
    margin-right: 30px;
}

footer .container .sec.aboutus {
    width: 40%;
}

footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer p {
    color: #999;
}

.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover {
    background: #f00;
}

.sci li a .fa {
    color: #fff;
    font-size: 20px;
}

.quickLinks {
    position: relative;
    width: 25%;
}

.quickLinks ul li {
    list-style: none;
}

.quickLinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover {
    color: #fff;
}

.contact {
    width: 35%;
    margin-right: 0 !important;
}

.contact .info {
    position: relative;
} 

.contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span {
    color: #999;
}

.contact .info li a {
    color: #999;
    text-decoration: none;
}

.contact .info li a:hover {
    color: #fff;
} 

.copyrightText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

@media (max-width: 991px) {
    footer {
        padding: 40px;
    }
    footer .container {
        flex-direction: column;
    }
    footer .container .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus, .quickLinks, .contact {
        width: 100%;
    }
    .copyrightText {
        padding: 8px 40px;
    }
}

@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content {
        padding-top: 0;
    }
}

@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0 30px;
    }
}

@media (max-width: 868px) {
    body.disabledScroll {
        overflow: hidden;
    }
    .navbar .menu-list {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background: #222;
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3s ease;
    }
    .navbar .menu-list.active {
        left: 0%;
    }
    .navbar .menu-list li {
        margin-top: 45px;
    }
    .navbar .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a {
        margin-left: 0px;
    }
    
    .icon {
        display: block;
    }
    .icon.hide {
        display: none;
    }
}

@media (max-width: 380px) {
    .navbar .logo a {
        font-size: 27px;
    }
}